mixin hero()
	+b#heroes.hero&attributes(attributes)
		+e('h2').title.title_black Наши герои
		+e.wrap
			+e.container
				+e.slider.hero__slider
					.swiper-container
						.swiper-wrapper
							for slide in getData('heroes')
								.swiper-slide
									+e('a')(href="#{slide.link}" class="item_#{slide.background}" )
										+e('div').wrapper
											+e('div')(class="image-wrap_#{slide.background}")
												+e.image-block
													+e('img').value(src="./assets/images/heroes/#{slide.imageLarge}" alt="#{slide.alt}")
												+e('img').name(src="./assets/images/heroes/#{slide.nameLarge}" alt="#{slide.alt}")
						.swiper-button-prev.swiper-button
							+b('svg').icon._link
								use(xlink:href='#link-arrow')
						.swiper-button-next.swiper-button
							+b('svg').icon._link
								use(xlink:href='#link-arrow')
			+e.background
