mixin questions()
	+b('section').questions&attributes(attributes)
		.container
			+e('ul').list
				for item, index in getData('faq')
					+e('li')(class="item _#{item.type}", data-number="#{index}")
						+e('p').title= item.title
							+b('svg').icon._link
								use(xlink:href='#link-arrow')
						+e('div').text
							+e('ul')
								each val in item.text
									+e('li')(data-number="#{index}")= val
			+e('ul').list_attachment
				for item, index in getData('faq2')
					+e('li')(class="item _#{item.type}", data-number="#{index+1}")
						+e('p').title= item.title
							+b('svg').icon._link
								use(xlink:href='#link-arrow')
						+e('div').text
							+e('ul')
								each val in item.text
									+e('li')(data-number="#{index+1}")= val
