include /blocks/hero-list/hero-list
mixin rating-popup(hero)
	+b.rating-popup&attributes(attributes)
		+e.container(class="gradient _#{hero.gradient}")
			+e('a').button._prev.button_nav(href="#")
				+b('svg').icon._link
					use(xlink:href='#link-arrow')
			+e('a').button._next.button_nav(href="#")
				+b('svg').icon._link
					use(xlink:href='#link-arrow')
			+e.wrapper
				+e('button').close.button_close
					+b('svg').icon_close
						use(xlink:href="#close")
				+e.image
					+e.image-block
						+e('img').image-value(src="./assets/images/heroes-with-bg/#{hero.image}")
						+e('img').name(src="./assets/images/heroes/#{hero.name}")
				+e.form
					+e.form-wrapper
						+e('p').title.title
							| У вас
							+e('span').value #{hero.rating}
							|  голосов!
						+e('p').text Сколько голосов готовы отдать за #{hero.title}
						+b.form._rating
							+e.input-wrapper
								+e('input').input(type="number" placeholder="0")
							+e.button-wrapper
								+e('button').button.button_success Голосовать
		+hero-list

