mixin photo(hero)
	+b.photo&attributes(attributes)
		+e('div')(class="wrapper _#{hero.gradient}")
			.container
				+e.link-desktop
					+e('a').link._prev(href="#{hero.prev}")
					+e('a').link._next(href="#{hero.next}")
				+e.img-wrapper
					+e.name
						+e('img').name-value(src="./assets/images/heroes/#{hero.name}")
					+e.image
						+e('img').image-value(src="./assets/images/heroes/#{hero.image}" alt="#{hero.title}")
			+e.background
				svg(viewbox='0 0 320 75', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(fill-rule='evenodd', clip-rule='evenodd', d='M320 29.0562L313.333 22.9962C306.667 16.9362 293.333 4.81621 280 1.78621C266.667 -1.2438 253.333 4.81621 240 12.3912C226.667 19.9662 213.333 29.0562 200 30.5712C186.667 32.0862 173.333 26.0262 160 30.5712C146.667 35.1162 133.333 50.2662 120 57.8412C106.666 65.4162 93.3331 65.4163 79.9998 56.3262C66.6664 47.2362 53.3331 29.0562 39.9998 21.4812C26.6664 13.9062 13.3331 16.9362 6.66638 18.4512L-0.000306835 19.9662L-0.000311603 74.5063L6.66638 74.5063C13.3331 74.5063 26.6664 74.5063 39.9997 74.5063C53.3331 74.5063 66.6664 74.5063 79.9998 74.5063C93.3331 74.5063 106.666 74.5063 120 74.5063C133.333 74.5063 146.666 74.5063 160 74.5063C173.333 74.5063 186.667 74.5063 200 74.5063C213.333 74.5063 226.667 74.5063 240 74.5063C253.333 74.5063 266.667 74.5063 280 74.5063C293.333 74.5063 306.667 74.5063 313.333 74.5063L320 74.5063L320 29.0562Z', fill='white')
