mixin photo(hero)
	+b.photo&attributes(attributes)
		+e('div')(class="wrapper _#{hero.gradient}")
			.container
				+e.link-desktop
					+e('a').link._prev(href="#{hero.prev}")
					+e('a').link._next(href="#{hero.next}")
				+e.img-wrapper
					+e.name
						+e('img').name-value(src="./assets/images/heroes/#{hero.name}")
					+e.image
						+e('img').image-value(src="./assets/images/heroes/#{hero.image}" alt="#{hero.title}")
			+e.background
				+b('svg').icon._wave
					use(xlink:href='#wave')
