mixin extra(hero)
	+b.extra&attributes(attributes)
		+e.wrapper
			+e.block._weapon
				+e.image-block
					+e.image(src="./assets/images/heroes/#{hero.weaponImage}")
				+e('span').lable Боевое оружие
				+e('span').title.sub= hero.weapon
				.circle-block
					+b('i').sphere._s(class="gradient_#{hero.gradient}")
					+b('i').sphere._m(class="gradient_#{hero.gradient}")
					+b('i').sphere._xl._blur(class="gradient_#{hero.gradient}")
			+e.block._enemy
				+e.image-block
					+e.image(src="./assets/images/heroes/#{hero.enemyImage}")
				+e('span').lable Злейший враг
				+e('span').title.sub= hero.enemy
				-var enemyClass = hero.enemyImage.split('-');
				.circle-block
					+b('i').sphere._sm(class="gradient_#{enemyClass[0]}")
					+b('i').sphere._lg(class="gradient_#{enemyClass[0]}")
					+b('i').sphere._xxl._blur(class="gradient_#{enemyClass[0]}")
